<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headerfiles">
    <title id="pageTitle">Administrator Page</title>
</head>
<body>
<!-- Navigation -->
<nav th:replace="layout :: navbar"></nav>
<!-- Page Content -->
<div class="container">

    <div class="row">

        <!--Administrator Page Column -->
        <div class="col-md-12">

            <h1 class="my-4">User Profile
            </h1>
            <!--                    <div class="container">-->
            <!--                        <div id="heading" class="row">-->
            <!--                            -->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                    <p><strong>Due date: </strong><a th:text="${task.getDueDateFormatted()}"></a>-->
            <!--                    </p>-->

            <!--                    <p><strong>Postal code: </strong><a th:text="${task.getRequestUser().getAdressUser().getPlz()}"></a>-->
            <!--                    </p>-->


            <div class="card mb-4">
                <div class="card-body" id="newrRequestSection">
                    <h2 class="card-title">Profile</h2>
                    <div class="col">
                        <span class="list-group-item"><strong>Username:  </strong>
                            <a th:text="${user.username}"></a></span>
                        <span class="list-group-item"><strong>First name:  </strong>
                            <a th:text="${user.firstName}"></a></span>
                        <span class="list-group-item"><strong>Last name:  </strong>
                            <a th:text="${user.lastName}"></a></span>
                        <span class="list-group-item"><strong>Address:  </strong>
                            <a th:text="${user.getAdressUser().getStreet()}">  </a>
                            <a th:text="${user.getAdressUser().getHouseNumber()}"></a>,
                            <a th:text="${user.getAdressUser().getPlz()}"></a>
                            <a th:text="${user.getAdressUser().getCity()}"></a>,
                        <a th:text="${user.getAdressUser().getCountry()}"></a>
                        </span>

                        <!--                                          <img th:if="${post.getUrlToImage() != null}" class="img-thumbnail"&ndash;&gt;&ndash;&gt;-->
                        <!--                         th:src="@{/images/{postId}(postId = ${post.urlToImage})}" alt="">&ndash;&gt;-->

                        <!--                    <form th:action="@{/post(postImage=${postImage})}" th:object="${post}" method="post">-->
                        <!--                        <div class="form-group">-->
                        <!--                            <label for="formGroupExampleInput">Title</label>-->
                        <!--                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Post title"-->
                        <!--                                   th:field="*{title}">-->
                        <!--                            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>-->
                        <!--                        </div>-->
                        <!--                        <div class="form-group">-->
                        <!--                            <label for="formGroupExampleInput2">Text</label>-->
                        <!--                            <textarea class="form-control" id="formGroupExampleInput2" placeholder="Post text"-->
                        <!--                                      rows="5" th:field="*{text}"></textarea>-->
                        <!--                            <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>-->
                        <!--                            <input class="btn btn-primary float-right formsubmit" type="submit" value="Create Post">-->
                        <!--                        </div>-->
                        <!--                    </form>-->
                        <!--                    <div class="form-group">-->
                        <!--                        <br>-->
                        <!--                        <form method="POST" th:action="@{/uploadFile}" enctype="multipart/form-data">-->
                        <!--                            <input type="file" name="file" id="fileId" style="display: none"/>-->
                        <!--                            <input type="button" class="btn btn-primary" id="uploadFile" value="Select Image"-->
                        <!--                                   onclick="document.getElementById('fileId').click();">-->
                        <!--                            <button class="btn btn-outline-primary" type="submit">Upload</button>-->
                        <!--                        </form>-->
                        <!--                        <div th:if="${message}" th:text="${message}"></div>-->
                        <!--                    </div>-->
                        <!--                </div>-->
                        <!--                <br>-->
                        <!--                <div class="card-body" id="usersSection">-->
                        <br>
                        <h2 class="card-title">My Tasks</h2>

                        <ul class="list-group" style="list-style-type:none">
                            <div class="card mb-4" th:each="task: ${user.helperTaskList}">
                                <div class="card-body" th:id="'postSection_'+${task.id}">
                                    <div class="container">
                                        <div id="heading" class="row">
                                        <!--                                    <div class="form-group row">-->
                                    <div class="col-sm">
                                        <h3 class="card-title"><a th:text="${task.title}"></a></h3>
                                    </div>
                                        <form th:if="${sessionUser!=null and sessionUser.getHelper() and task.isAccepted()}"
                                              th:action="@{/cancelTask}"
                                              th:object="${taskDTO}" modelAttribute="taskDTO" method="post">
                                            <div class="form-group">
                                                <input type="hidden" name="taskId" th:value="${task.id}">
                                                <input class="btn btn-primary" type="submit" value="Cancel Task">
                                            </div>
                                        </form>

                                        <!--                                        <span class="list-group-item"-->
                                        <!--
                                                                                th:text="${task.title}"><br>-->
                                </div>
                                </div>
                                        <p><strong>Due date: </strong><a th:text="${task.getDueDateFormatted()}"></a>
                                        </p>

                                        <p><strong>Person in need : </strong>
                                            <a th:text="${task.getRequestUser().getFirstName()}"></a>
                                            <a th:text="${task.getRequestUser().getLastName()}"></a>
                                        </p>

                                        <p><strong>Address of the person in need: </strong>
                                            <a th:text="${task.getRequestUser().getAdressUser().getStreet()}">  </a>
                                            <a th:text="${task.getRequestUser().getAdressUser().getHouseNumber()}"></a>,
                                            <a th:text="${task.getRequestUser().getAdressUser().getPlz()}"></a>
                                            <a th:text="${task.getRequestUser().getAdressUser().getCity()}"></a>,
                                            <a th:text="${task.getRequestUser().getAdressUser().getCountry()}"></a>
                                        </p>

                                        <p th:if="${sessionUser!=null}"><strong>Distance: </strong><a
                                                th:text="${task.getDistance(sessionUser)}"></a> km
                                        </p>
                                        <p class="collapse" th:id="'collapsePost_'+${task.id}" aria-expanded="false"
                                           th:text="${task.text}"></p>
                                        <a role="button" class="btn btn-primary collapsed collapseButton" data-toggle="collapse"
                                           th:href="'#collapsePost_'+${task.id}"
                                           aria-expanded="false" th:aria-controls="'collapsePost_'+${task.id}"></a>
                                        <!--                                <div class="col">-->
                                        <!--                                    <span th:if="${user.admin}" class="list-group-item float-right"-->
                                        <!--                                          style="border: none">Admin</span>-->
                                        <!--                                    <form th:if="${user.admin != true}" method="post" th:action="@{/admin}">-->
                                        <!--                                        <input type="hidden" name="userId"-->
                                        <!--                                               th:value="${user.id}">-->
                                        <!--                                        <input class="btn btn-primary float-right" type="submit" value="Make Admin">-->
                                        <!--                                    </form>-->
                                        <!--                            </div>-->
                                        <div class="card-footer text-muted">
                                            Posted on <a th:text="${task.getPostedAtFormatted()}"></a> by
                                            <strong class="text-success"><a th:text="${task.requestUser.username}"></a></strong>
                                        </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
        <!-- /.row -->
    <footer th:replace="layout :: footerfiles">
    </footer>
</body>
</html>
