<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headerfiles">
    <title id="pageTitle">Edit Post</title>
</head>
<body>
<!-- Navigation -->
<nav th:replace="layout :: navbar"></nav>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- User List Column -->
        <div class="col-md-12">
            <h1 class="my-4">Edit Post</h1>

            <div class="card mb-4">
                <div class="card-body" id="newPostSection">
                    <form th:if="${sessionUser!=null and sessionUser.admin == true}" th:action="@{/post(postImage=${post.urlToImage})}"
                          th:object="${post}" method="post">
                        <img th:if="${post.getUrlToImage() != null}" class="img-thumbnail"
                             th:src="@{/images/{postId}(postId = ${post.urlToImage})}" alt="">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Title</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Post title"
                                   th:field="*{title}">
                            <input type="hidden" name="postId" th:value="${post.id}">
                            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Text</label>
                            <textarea class="form-control" id="formGroupExampleInput2" placeholder="Post text"
                                      rows="5" th:field="*{text}"></textarea>
                            <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>
                            <div class="form-group">
                                <br>
                                <input class="btn btn-primary" type="submit" value="Update Post">
                            </div>
                        </div>
                    </form>
                    <form method="POST" th:action="@{/updateFile}" enctype="multipart/form-data">
                        <input type="file" name="file" id="fileId" style="display: none"/>
                        <input type="hidden" name="postId" th:value="${post.id}">
                        <input type="hidden" name="title" th:value="${post.title}">
                        <input type="hidden" name="text" th:value="${post.text}">
                        <input type="button" class="btn btn-primary" id="uploadFile" value="Select Image"
                               onclick="document.getElementById('fileId').click();">
                        <button class="btn btn-outline-primary" type="submit">Upload</button>
                        <div th:if="${message}" th:text="${message}"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="layout :: footerfiles">
</footer>
</body>
</html>